@mixin link($color, $activeColor) {
  color: $color;
  text-transform: uppercase;
  font-family: "Geometria-ExtraBold";
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 5;
  font-size:13px;
  background: none;
  padding:0;
  border:none;
  cursor: pointer;
  outline:none;

  &:hover{
    color: $color !important;
    span:before{
      height:calc(100% - 3px);
    }
  }

  &:active{
    color: $activeColor !important;
    span:before{
      height:calc(100% - 3px);
    }
  }
}

.link, .link--white{
  span.underline{
    display: inline-block;
    z-index: 2;
    position: relative;
    line-height: 1;
    outline: none;

    span{
      display: inline-block;
      position: relative;
      z-index: 2;
      outline: none;
    }

    &:before{
      content: '';
      display: block;
      background: $red;
      height:4px;
      width:100%;
      position: absolute;
      bottom: 1px;
      left:0;
      z-index: 1;
      transition: height 0.3s;
    }
  }

  &--is-h2{
    span.underline:before{
      height:8px;
    }
  }

  &--is-h4{
    span.underline:before{
      height:6px;
    }
  }

  &:after{
    display: none;
  }
}

.link{
  @include link($grey, white);

  &--is-h2{
    font-size:25px;
    font-family: "Geometria-Heavy";
    line-height: 1.3;
    letter-spacing: -1px;

    &:hover, a:hover &{
      span:before{
        height:calc(100% - 6px);
        bottom: 2px;
      }
    }
  }

  &--is-h4{
    font-size:20px;
    font-family: "Geometria-Heavy";
    line-height: 1.3;
    letter-spacing: -1px;

    &:hover, &:active{
      span:before{
        height:calc(100% - 4px);
      }
    }
  }
}

.link--white{
  @include link(white, $grey);
}
