<div class="container contacts js-header-black js-opacity">
    <div class="grid-spaceBetween">
        <div class="col-3_md-4_xs-12 contacts__item">
            <span class="is-h2 contacts__title">Контакты</span>
            <p>
                +7 (3452) 703-777<br/>
                +7 (922) 075-55-70
            </p>
            <a href="#" class="link">
                <span class="underline">
                    <span>Вконтакте</span>
                </span>
            </a>
            &nbsp;&nbsp;
            <a href="#" class="link">
                <span class="underline">
                    <span>Инстаграмм</span>
                </span>
            </a>
        </div>
        <div class="col-6_md-8_xs-12 contacts__item">
            <span class="is-h2 contacts__title">Адреса залов</span>
            <div class="grid">
                <div class="col-6_xs-12 contacts__address">
                    <span href="#" class="link link--is-h4">
                        <span class="underline"><span>Центральный</span></span>
                    </span>
                    <p>
                        ул. Орджоникидзе, 60<br/>
                        СК «Центральный»,<br/>
                        вход в фитнес–клуб CityFitness
                    </p>
                </div>
                <div class="col-6_xs-12 contacts__address">
                    <span href="#" class="link link--is-h4">
                        <span class="underline"><span>Тюменский</span></span>
                    </span>
                    <p>ул. Николая Гондатти, 5/2</p>
                </div>
            </div>
        </div>
    </div>
</div>