<div class="container js-header-black">
    <div class="section section--reverse grid">
        <div class="col-9_md-12 noGutter-btm section__col-after js-parallax" data-offset="0.2">
            <div class="is-h2 section__title desktop-hidden">Кудо</div>
            <picture>
                <source media="(max-width: 1023px)" srcset="img/kudo-min.jpg">
                <img src="img/kudo-max.jpg" alt="Кудо">
            </picture>
        </div>
        <div class="col-3_md-12 noGutter-btm js-parallax" data-offset="0.25">
            <div class="is-h2 section__title touch-hidden">Кудо</div>
            <div class="section__text">
                <p>Тренировки для детей, девушек и парней под руководством Президента федерации кудо Тюменской области —
                    Дмитрия Могилева.</p>
            </div>
            <a href="kudo.html" class="link">
                <span class="underline">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
    <div class="section grid">
        <div class="col-9_md-12 noGutter-btm section__col-after js-parallax" data-offset="0.2">
            <div class="is-h2 section__title desktop-hidden">Айкидо</div>
            <picture>
                <source media="(max-width: 1023px)" srcset="img/aikido-min.png">
                <img src="img/aikido-max.png" alt="Кудо">
            </picture>
        </div>
        <div class="col-3_md-12 noGutter-btm js-parallax" data-offset="0.25">
            <div class="is-h2 section__title touch-hidden">Айкидо</div>
            <div class="section__text">
                <p>Групповые тренировки для детей, рассчитанные на укрепление скелета и мышц по авторской программе Александра Чехонина.</p>
            </div>
            <a href="aikido.html" class="link">
                <span class="underline">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
    <div class="section section--reverse grid">
        <div class="col-9_md-12 noGutter-btm section__col-after js-parallax" data-offset="0.2">
            <div class="is-h2 section__title desktop-hidden">Бокс</div>
            <picture>
                <source media="(max-width: 1023px)" srcset="img/box-min.jpg">
                <img src="img/box-max.jpg" alt="Кудо">
            </picture>
        </div>
        <div class="col-3_md-12 noGutter-btm js-parallax" data-offset="0.25">
            <div class="is-h2 section__title touch-hidden">Бокс</div>
            <div class="section__text">
                <p>Тренировки для детей, девушек и парней под руководством Президента федерации кудо Тюменской области —
                    Дмитрия Могилева.</p>
            </div>
            <a href="boxing.html" class="link">
                <span class="underline">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
    <div class="section grid">
        <div class="col-9_md-12 noGutter-btm section__col-after js-parallax" data-offset="0.2">
            <div class="is-h2 section__title desktop-hidden">Тайский бокс</div>
            <picture>
                <source media="(max-width: 1023px)" srcset="img/t-box-min.jpg">
                <img src="img/t-box-max.jpg" alt="Кудо">
            </picture>
        </div>
        <div class="col-3_md-12 noGutter-btm js-parallax" data-offset="0.25">
            <div class="is-h2 section__title touch-hidden">Тайский бокс</div>
            <div class="section__text">
                <p>Интенсивные тренировки, которые наградят выносливостью, отличной координацией, растяжкой
                    и эффектной мускулаторой.</p>
            </div>
            <a href="thai.html" class="link">
                <span class="underline">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
</div>