<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Atari</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="hidden js-svglib"></div>
    <aside class="left-menu">
        <div class="left-menu__wrap">
            <div class="left-menu__close">
                <a href="javascript:void(0)" class="link js-menu-close">
                    <span class="underline">
                        <span>Закрыть</span>
                    </span>
                </a>
            </div>
            <div class="left-menu__content">
                <div class="left-menu__links">
                    <a href="discipliny.html" class="js-menu-item">Дисциплины</a>
                    <a href="pricing.html" class="js-menu-item">Цены</a>
                    <a href="#" class="js-menu-item">Расписание</a>
                    <a href="about.html" class="js-menu-item">О клубе</a>
                    <a href="trainers.html" class="js-menu-item">Тренеры</a>
                    <a href="contacts.html" class="js-menu-item">Контакты</a>
                </div>
                <div class="left-menu__social">
                    <a href="#" class="link">
                        <span class="underline">
                            <span>Вконтакте</span>
                        </span>
                    </a>
                    &nbsp;&nbsp;
                    <a href="#" class="link">
                        <span class="underline">
                            <span>Инстаграмм</span>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </aside>
        