<header class="header">
    <div class="container grid-spaceBetween header__inner">
        <nav class="menu">
            <ul>
                <li><a href="discipliny.html">Дисциплины</a></li>
                <li><a href="pricing.html">Цены</a></li>
                <li><a href="#">Расписание</a></li>
                <li><a href="about.html">О клубе</a></li>
                <li><a href="trainers.html">Тренеры</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </nav>
        <span class="header__menulink js-menu-open">
            <svg role="img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#humburger"></use>
            </svg>
        </span>
        <div class="header__logo">
            <a href="index.html" class="no-decorate">
                <svg role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
                </svg>
            </a>
        </div>
    </div>
</header>
<main class="content">